@import '../../../vars.css';

.todo {
  width: 100%;
  height: auto;
  background: var(--color-bg-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 25rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem 0.5rem 0 0;
  outline: none;
  background-color: var(--primary-400);
  color: var(--color-text-1);
  font-family: var(--font-montserrat);
  font-weight: bold;
}

input::placeholder {
  color: var(--color-text-1);
  opacity: 0.6;
}

.btn-submit {
  background: var(--primary-600);
  outline: none;
  border: none;
  border-radius: 0 0 0.5rem 0.5rem;
  color: #fff;
  padding: 0.7rem 1.15rem;
  cursor: pointer;
  font-family: var(--font-montserrat);
  font-size: 1rem;
  font-weight: bold;
}

.btn-submit:hover {
  background-color: var(--primary-700);
}

.btn-submit:active {
  border-radius: 0 0 0.5rem 0.5rem;
}

.todos-list {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
}

.todos-item {
  background-color: transparent;
  border: var(--color-border-1) 0.15rem solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1.15rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.item-text {
  width: auto;
  color: var(--color-text-1);
  word-break: break-all;
  font-family: var(--font-montserrat);
  font-size: 1rem;
}

.item-remove {
  background: var(--primary-700);
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: var(--color-accent-3);
  padding: 0.5rem;
  cursor: pointer;
  font-family: var(--font-montserrat);
  font-size: 1rem;
  font-weight: bold;
}

.item-remove:hover {
  background-color: var(--primary-400);
}