@import '../../../vars.css';

.testimonials-page {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8faff;
}

.testimonials-main {
  width: clamp(12rem, 35vw, 50rem);
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  background-color: #f0fdfe;
  display: flex;
  flex-direction: row;
}

.testimonials-facts {
  width: 100%;
  padding: 0 0.5rem;
}

.testimonials-top {
  padding: 0.5rem;
  font-weight: 700;
}

.testimonials-category {
  font-family: var(--font-lato);
}

.testimonials-quote {
  text-align: center;
  font-size: clamp(1rem, 1.2vw, 1.6rem);
  font-family: var(--font-montserrat);
  font-style: italic;
  margin-bottom: 0.625rem;
  color: #666;
}

.testimonials-bottom {
  text-align: center;
  padding-bottom: 0.5rem;
}

.testimonials-source {
  font-size: clamp(0.8rem, 1vw, 1.1rem);
  font-family: var(--font-lato);
  font-weight: bold;
  margin-bottom: 1.25rem;
  color: #333;
}

.testimonials-main button {
  padding: 0.625rem clamp(0, 0.75vw, 1.25rem);
  border: none;
  background-color: #82e5ee;
  font-family: var(--font-lato);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.testimonials-btn-left {
  border-radius: 0.3125rem 0 0 0.3125rem;
}

.testimonials-btn-right {
  border-radius: 0 0.3125rem 0.3125rem 0;
}

.testimonials-main button:hover {
  background-color: #037680;
}

.testimonials-main button:active {
  transform: scale(0.95);
}