@import "@fontsource/lato/400.css";
@import "@fontsource/lato/700.css";
@import "@fontsource/lato/900.css";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/900.css";

:root {
  --font-montserrat: 'Montserrat';
  --font-lato: 'Lato';

  font-size: 16px;
}